<div class="clock-container">
    <div class="clock">
        <span data-ng-click="toggleMilitaryDate()"
              data-ng-bind="clock.currentTimestamp | date:clock.dateFormat"
              class="clickable"></span>
        <h1 data-ng-click="toggleMilitaryTime()"
            class="time-display clickable">
            <span data-ng-bind="clock.currentTimestamp | date:clock.timeFormat"></span>
        </h1><br/>
        <div data-countdown-bar
             data-show-time="true"
             class="clickable"
             ui-sref="countdown"></div>
    </div>
</div>